body {
    font: 14px "Century Gothic", Futura, sans-serif;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .square {
    @apply bg-white border-black h-12 w-12; 
    border: 3px solid;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 48px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    @apply m-10;
  }
  
  .game-info {
    @apply text-white ml-8 bg-gray-400 p-6 float-left;
  }
  
  .game-info .move {
    @apply bg-sky-500/50 text-center p-2 rounded m-1;
  }

  .game-info .status {
    @apply text-xl mb-1;    
  }